.p-Home.TextBox10, .TextBox16, .TextBox55, .TextBox93, .TextBox61, .TextBox87, .TextBox84, .TextBox148, .TextBox187, .TextBox195, .TextBox207 {
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.p-Home .Flex119::-webkit-scrollbar {
    visibility: hidden;
    }

.p-Home.TextBox2:hover, .TextBox3:hover, .TextBox4:hover, .TextBox5:hover, .TextBox6:hover{
    color: rgb(87, 87, 87);
}